extends layout

block content
  .jumbotron(style="background:transparent")
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
            .input-group
              input.form-control#handle(type='text', placeholder='handle', name='handle')
              span.input-group-btn
                button.btn.btn-primary#submitHandle 
      .row
        .col-md-4
          h4 Easy
          table.table.table-bordered.table-condensed#problems(style="display: none; margin-top: 16px;")
            tbody
         .col-md-4
           h4 Medium
           table.table.table-bordered.table-condensed#problemsM(style="display: none; margin-top: 16px;")
             tbody
          .col-md-4
            h4 Brutal
            table.table.table-bordered.table-condensed#problemsH(style="display: none; margin-top: 16px;")
              tbody
     
  script.
    const CODEFORCES_LOCAL_HANDLE = "fa_preferred_codeforces_handle";
    var convertToHtml = function(problems, start, num) {
      var html = '<tr><td>Problem Id</td><td>Solved</td></tr>';
      for (var j = start; j < start + num && j < problems.length; j++) {
        var contestId = problems[j].contestId;
        var index = problems[j].index;
        url = "http://codeforces.com/";
        if (contestId < 100000) {
          url += "problemset/problem/" + contestId + "/" + index;
        } else {
          url += "gym/" + contestId;
        }
        html += "<tr>";
        html += "<td>" + 
                "<a href='" + url + "' target='_blank'>" +
                 contestId +
                 index + 
                "</a>" +
                 "</td>";
        html += "<td>" + problems[j].solvedCount + "</td>";
        html += "</tr>";
      }
      return html;
    };
    var getQ = function(username, callback) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var problems = JSON.parse(this.responseText);
          const NUM_PER_PAGE = 10;
          var html = convertToHtml(problems, 0, NUM_PER_PAGE);
          var htmlM = convertToHtml(problems, parseInt(problems.length / 2), NUM_PER_PAGE);
          var htmlH = convertToHtml(problems, problems.length - NUM_PER_PAGE, NUM_PER_PAGE);
          document.getElementById('problems').children[0].innerHTML += html;
          document.getElementById('problemsM').children[0].innerHTML += htmlM;
          document.getElementById('problemsH').children[0].innerHTML += htmlH;
          document.getElementById('problems').style.display = "table";
          document.getElementById('problemsM').style.display = "table";
          document.getElementById('problemsH').style.display = "table";
          callback();
        }
      }
        
      var url = '/codeforces/problems/recommended/' + username;
      xhttp.open('GET', url, true);
      xhttp.send();
    }
      
    document.getElementById('submitHandle').onclick = function() {
      this.setAttribute("disabled", "disabled");
      this.innerHTML = "<div class='preloader'></div>";
      var that = this;
      var handle = document.getElementById('handle').value;
      var rows = document.querySelectorAll('tr');
      for (var i = 0; i < rows.length; i++) {
        rows[i].parentNode.removeChild(rows[i]);
      }
      window.localStorage.setItem(CODEFORCES_LOCAL_HANDLE, handle);
      getQ(handle, function() {
        that.removeAttribute("disabled");
        that.innerHTML = "Go!";
      });
    };

    document.addEventListener("DOMContentLoaded", function(event) {
      var handle = window.localStorage.getItem(CODEFORCES_LOCAL_HANDLE);
      if (handle) {
        var btn = document.getElementById('submitHandle')
        btn.setAttribute("disabled", "disabled");
        btn.innerHTML = "<div class='preloader'></div>";
        document.getElementById('handle').value = handle;
        getQ(handle, function() {
          btn.removeAttribute("disabled");
          btn.innerHTML = "Go!";
        });
      }
    });
 
