extends layout

block content
  .container

    button.btn.btn-default Python 3
    .btn-group.pull-right#editorSelector(role='group', aria-label='...')
      .btn-group(role='group')
        button.btn.btn-default#vim vim
      .btn-group(role='group')
        button.btn.btn-default#emacs emacs
      .btn-group(role='group')
        button.btn.btn-default#sublime sublime
      .btn-group(role='group')
        button.btn.btn-default#default default

    form
      .form-group
        textarea.form-control#code(rows='30' name='code')

  .container
    button.btn.btn-default#compile Fire in the hole!

  .container
    .row
      .col-md-6
        h4 Input
        form
          textarea.form-control#input(rows='5' name='input')
      .col-md-6
        h4 Output
        form
          textarea.form-control#output(rows='5' name='output')

  script.
    $(function() {
      var editor = CodeMirror.fromTextArea(document.getElementById("code"));
      editor.setOption("lineNumbers", true);
      editor.setOption("mode", "python");
      $('button#default').addClass('active');

      $('button#vim').click(function() {
        $('#editorSelector > div > button').removeClass('active');
        editor.setOption("keyMap", "vim");
        $('button#vim').addClass('active');
      });

      $('button#emacs').click(function() {
        $('#editorSelector > div > button').removeClass('active');
        editor.setOption("keyMap", "emacs");
        $('button#emacs').addClass('active');
      });

      $('button#sublime').click(function() {
        $('#editorSelector > div > button').removeClass('active');
        editor.setOption("keyMap", "sublime");
        $('button#sublime').addClass('active');
      });

      $('button#default').click(function() {
        $('#editorSelector > div > button').removeClass('active');
        editor.setOption("keyMap", "default");
        $('button#default').addClass('active');
      });

      $('button#compile').click(function() {
        $.ajax({
          type: "POST",
          url: "/ide",
          data: "code=" + encodeURIComponent(editor.getValue()) + "&input=" 
                  + encodeURIComponent($('#input').val()), 
          success: function(data) {
            console.log(data);
            $('#output').val(data);
          }
        });
      });
    });
