doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel='stylesheet', href='lib/codemirror.css')
    link(rel='stylesheet', href='addon/hint/show-hint.css')
    link(rel='stylesheet', href='theme/solarized.css')
    link(rel='stylesheet', href='theme/monokai.css')
    link(rel='stylesheet', href='theme/dracula.css')
    link(rel='stylesheet', href='theme/zenburn.css')
    link(rel='stylesheet', href='theme/blackboard.css')
    link(rel='stylesheet', href='theme/tomorrow-night-bright.css')
    link(rel='stylesheet', href='theme/tomorrow-night-eighties.css')
    script(src='lib/codemirror.js')
    script(src='keymap/vim.js')
    script(src='keymap/sublime.js')
    script(src='keymap/emacs.js')
    script(src='addon/runmode/colorize.js')
    script(src='addon/hint/show-hint.js')
    script(src='mode/python/python.js')
    script(src='mode/clike/clike.js')
  body
    header.nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse',
            data-target='#mynav', aria-controls='mynav' aria-expaned='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Fan's Apps

        .navbar-collapse.collapse#mynav(style='height: 1px;'
          aria-expaned='false')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/codeforcesqp') Codeforces Question Picker
            li
              a(href='/ide') IDE
       
    block content

