extends layout

block content
  .jumbotron(style="background:transparent")
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
            .input-group
              input.form-control#handle(type='text', placeholder='username', name='handle')
              span.input-group-btn
                button.btn.btn-primary#submitHandle Go!
      .row#tables(style="display: none; margin-top: 16px;")
        .col-md-4
          h4 Easy
          table.table.table-bordered.table-condensed#problems(style="display: none; margin-top: 16px; border-radius: 4px;")
            tbody
        .col-md-4
          h4 Medium
          table.table.table-bordered.table-condensed#problemsM(style="display: none; margin-top: 16px; border-radius: 4px;")
            tbody
        .col-md-4
          h4 Brutal
          table.table.table-bordered.table-condensed#problemsH(style="display: none; margin-top: 16px; border-radius: 4px;")
            tbody

  script.
    const UVA_LOCAL_USERNAME = "fa_preferred_uva_username";
    const NUM_PER_PAGE = 10;
    var convertToHtml = function(problems, start, number) {
      var html = '<tr><td>ID</td><td>Number</td><td>Title</td><td>Solves</td></tr>';
      for (var j = start; j < start + number && j < problems.length; j++) {
        html += "<tr>";
        for (var i = 0; i < 4; i++) {
          var content = String(problems[j][i]);
          if (i == 1) {
            var url = '//uva.onlinejudge.org/external/';
            if (content.length < 4) {
              url += content[0] + '/' + content + '.pdf';
            } else {
              url += content.substring(0, 3) + '/' + content + '.pdf';
            }
            html += "<td><a href='" + url + "' target='_blank'>" + content + "</a></td>";
          } else {
            html += "<td>" + problems[j][i] + "</td>";
          }
        }
        html += "</tr>";
      }
      return html;
    };

    var getQ = function(username, callback) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var response = JSON.parse(this.responseText);
          var problems = response.problems;
          var htmlEasy = convertToHtml(problems, 0, NUM_PER_PAGE);
          var htmlMedium = convertToHtml(problems, parseInt(problems.length / 2), NUM_PER_PAGE);
          var htmlHard = convertToHtml(problems, problems.length - NUM_PER_PAGE, NUM_PER_PAGE);
          document.getElementById('problems').children[0].innerHTML += htmlEasy;
          document.getElementById('problemsM').children[0].innerHTML += htmlMedium;
          document.getElementById('problemsH').children[0].innerHTML += htmlHard;
          document.getElementById('problems').style.display = "table";
          document.getElementById('problemsM').style.display = "table";
          document.getElementById('problemsH').style.display = "table";
          callback();
        }
      }
        
      var url = '/uva/problems/recommended/' + username;
      xhttp.open('GET', url, true);
      xhttp.send();
    }
    document.getElementById('submitHandle').onclick = function() {
      document.getElementById('tables').style.display = "none";
      this.setAttribute("disabled", "disabled");
      this.innerHTML = "<div class='preloader'></div>";
      var username = document.getElementById('handle').value;
      window.localStorage.setItem(UVA_LOCAL_USERNAME, username);
      var rows = document.querySelectorAll('tr');
      for (var i = 0; i < rows.length; i++) {
        rows[i].parentNode.removeChild(rows[i]);
      }
      var that = this;
      getQ(username, function() {
        document.getElementById('tables').style.display = "block";
        that.removeAttribute("disabled");
        that.innerHTML = "Go!";
      });
    }

    document.addEventListener("DOMContentLoaded", function(event) {
      var username = window.localStorage.getItem(UVA_LOCAL_USERNAME);
      if (username) {
        var btn = document.getElementById('submitHandle');
        btn.setAttribute("disabled", "disabled");
        btn.innerHTML = "<div class='preloader'></div>";
        document.getElementById('handle').value = username;
        getQ(username, function() {
          document.getElementById('tables').style.display = "block";
          btn.removeAttribute("disabled");
          btn.innerHTML = "Go!";
        });
      }
    });
    
    
